### Question 2: NYC Flight Data Analysis
You are provided with a large dataset containing information on NYC flights from the year 2013.

Before you begin, ensure that you have the following Python libraries installed. (Might be useful to create a virtual environment).

In [2]:
import numpy as np
import pandas as pd
from scipy import stats, integrate
import matplotlib.pyplot as plt
import seaborn as sns

The dataset includes various details such as departure times, delays, carriers, and destinations. Below is a sample of the data:

In [3]:
flight_data=pd.read_csv("./flight_data.csv")
flight_data.head()

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,1/1/2013 5:00
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,1/1/2013 5:00
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,1/1/2013 5:00
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,1/1/2013 5:00
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,1/1/2013 6:00

### Part 1 - Data cleaning

1. Identify Missing Values
    - 1.1 Find and display all rows in the dataset that contain at least one null value in any column.
2. Handle Missing Values
    - 1.2 Remove (omit) all rows where a null (NaN) value is present in any column.

### Part 2 - Data Analysis:

1. Identify top 10 destination airports from NYC 

    1. Display a table showing each of these airports along with the number of flights to each.

    2. Create a plot to visualize this data. Choose a chart type that you find most appropriate. Ensure that your plot includes: 
    - a clear title 
    - labeled axes 
    - legend (if applicable)

2. Calculate the average departure delay for each carrier on a monthly basis

    Present this data in a table with the following three columns:
    - Carrier
    - Month (formatted as MM-MMMM, e.g., 03-March)
    - Average Departure Delay

### Part 3 - Consistency in On-Time Performance

1. Determine which carrier has the most consistent on-time performance, defined as having the smallest variance in departure delays.

2. Instructions:

    1. Data Cleaning: Ensure that the dataset is cleaned as in Part 1 before performing this analysis.

    2. Variance Calculation: You must **not** use any of the libraries imported above (numpy, pandas, scipy, etc.) for this part. Implement your own function to calculate the variance of departure delays for each carrier.

3. Deliverable

    1. Identify and display the carrier with the smallest variance in departure delays.

    2. Provide a brief explanation of your findings.

In [ ]:
# boilerplate for file parsing
import csv

flight_records = []

(Optional) Check your findings by using the numpy library to preform the same analysis.